#banner{
    width: 1000px;
}
.carousel-caption{
    background-color: rgba(194, 194, 194, 0.487);
    color: green;
}
#test{
    width: 250px;
    margin-left: calc(50% - 125px);
}
#answer{
    visibility: hidden;
    user-select: none;
}